<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Main Page</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static',     filename='css/template.css') }}"
    />
  </head>

  <body>

    <header>
      <div class="container">
        <img
          class="logo-img"
          src="{{url_for('static', filename='images/tiet-logo.jpg')}}"
        />
        <h1 class="logo">e-Signify</h1>

        <strong>
          <div class="row">
            <div class="col col-box">
              <div class="d-grid gap-2">
<!--                <button type="button" class="btn btn-primary upload-btn">-->
<!--                  <svg-->
<!--                    xmlns="http://www.w3.org/2000/svg"-->
<!--                    width="16"-->
<!--                    height="16"-->
<!--                    fill="currentColor"-->
<!--                    class="bi bi-upload"-->
<!--                    viewBox="0 0 16 16"-->
<!--                  >-->
<!--                    <path-->
<!--                      d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"-->
<!--                    ></path>-->
<!--                    <path-->
<!--                      d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z"-->
<!--                    ></path>-->
<!--                  </svg>-->
<!--                  Upload Image-->
<!--                </button>-->
                <form method="post" action="/predict" enctype="multipart/form-data">
                    <div style="display: flex; justify-content: center;">
                        <div style="margin: 0.9%;width: 80%;">
                            <input type="file" name="file" class="form-control" autocomplete="off" required="">
                        </div>
                        <div style="width: 20%;">
                            <input type="submit" value="Submit" class="btn btn-success nav-btn" style="padding-left:25%; padding-right: 25%;">
                        </div>
                    </div>

                    {% with messages = get_flashed_messages() %}
                     {% if messages %}
                      {% for message in messages %}
                        {{ message }} <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
  <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"></path>
</svg>
                      {% endfor %}
                     {% endif %}
                    {% endwith %}
              </form>

              <form method="post" action="/process_ocr" enctype="multipart/form-data">
                    <h1> {{result}}</h1>
                <div style="display: flex; justify-content: center;">
                        <input type="submit" value="Start Processing" class="btn btn-primary nav-btn" style="padding-left:15%; padding-right: 15%;">
                </div>

              </form>

                <form action="/reload">
                        <button class="btn btn-secondary nav-btn " style="float: right; margin-right: 2%;" >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="currentColor"
                            class="bi bi-arrow-clockwise"
                            viewBox="0 0 16 16"
                          >
                            <path
                              fill-rule="evenodd"
                              d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"
                            ></path>
                            <path
                              d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"
                            ></path>
                          </svg>
                          Re-Upload Image
                        </button>
                  </form>
                </div>

                <div class="row">

                    <form action="/result">
                        <div class="col">
                            <button type="button" id= "gen" class="btn btn-secondary"  style="height:200px; width:200px;  margin-top: 40px">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="48"
                        height="48"
                        fill="currentColor"
                        class="bi bi-check2-circle"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"
                        ></path>
                        <path
                          d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"
                        ></path>
                      </svg>
                      <br />
                                {{result}}
                    </button>


                  </div>
                  </form>


                </div>
              </div>
            </div>
          </div>
        </strong>
      </div>
    </header>


    <!-- {% block content %} {% endblock %} -->
  </body>
</html>
